# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
SKYWAYmobilPI/WorkShops-CodenameOne-master/build/built-jar.properties
SKYWAYmobilPI/WorkShops-CodenameOne-master/nbproject/private/private.properties
SKYWAYmobilPI/WorkShops-CodenameOne-master/Versions.properties
SKYWAYmobilPI/WorkShops-CodenameOne-master/build/built-jar.properties
